<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>First Deployment</title>
</head>
<body>
	<h1>Kaggle first project</h1>
	<form action="/" method="POST">
		<label>Total Rooms</label>
		<input type="number" name="rooms" step="0.000001" required>

		<label>Total Bathrooms</label>
		<input type="number" name="totalBathrooms" step="0.000001" required>

		<label>Total Landsize</label>
		<input type="number" name="totalLandsize" step="0.000001" required>

		<label>Lattitude</label>
		<input type="number" name="lattitude" step="0.000001" required>

		<label>Longtitude</label>
		<input type="number" name="longtitude" step="0.000001" required>

		<input type="submit" name="" step="0.000001" required>
	</form>
	{{predicted_ans}}
</body>
</html>